/*---------------------------------------- Paramètre généraux ----------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Logo et Nav */
.container-nav{
    max-width: 1400px;
    margin: 0 auto;
}

h1{
    color: #fff;
    font-size: 2.2rem;
    text-transform: uppercase;
}

span{
    color: #70abcf;
    font-size: 1rem;
}

h2{
    text-align: center;
    text-transform: uppercase;
}
/*------------------------------------ Fin Paramètre généraux ----------------------------------------*/

/*------------------------------------------- HEADER -------------------------------------------------*/
header{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    overflow: hidden;
    top:0; 
    left: 0;
    right: 0;
    z-index: 5;
}

.logo, .main-menu{
    margin: 20px 0;
}

.main-menu ul{
    list-style: none;
    display: flex;
}

.main-menu a{
    color: rgba(0, 0, 0, .6);
    font-size: 1rem;
    padding: 30px 20px 30px 10px;
}

.main-menu a:hover{
    color: #70abcf;
    border-top: 3px solid #588baa;
}

/*--------------------------------------- Fin HEADER -------------------------------------------------*/

/* Fin Logo et Nav */

/* Main */
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
       /* Marge */
    margin: 140px 10%;
}
/* Fin main */

/* Slider */
.slider{
    position: relative;
}

#image-id{
    width: 100%;
}

.half-circle-left {
    position:absolute;
    top: 50%;
    left: 0%;
    
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;

    background-color: rgb(68, 66, 66);
    border: none;
}

.half-circle-right {
    position: absolute;
    top: 50%;
    left: 100%;
    
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;

    background-color: rgb(68, 66, 66);
    border: none;
}

.fa-solid{
    color: white;
}



.button-info{
    border: 0;
    line-height: 2.5;
    text-align: center;
    color: white;
    
    border-radius: 5px;
    background-color: skyblue;

    background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 80%,
    transparent
  );

    box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
    
}

.button-info:hover {
  background-color: red;
}

.button-style:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

/* Fin Slider */

/* Nos services */

.section-title{
    margin-top: 130px;
    text-align: center;
    font-size: 18px;
}

.line {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 50%;
    height: 2px;
    
    background: rgb(216, 216, 216);
}

.small-ball{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -6px);

    width: 14px;
    height: 14px;

    background: skyblue;
    border-radius: 14px;
    border: solid white;
}

p{
    margin: 10px 0 30px 0;
    text-align: justify;
}

.all-services{
    display: flex;
    flex-direction: column;
}

.detailed-service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-anime{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    transform: translate(0, -50%);
}

.fa-sharp{
    position: relative;
    top: 72%;
    left: 50%;
    transform: translate(-50%, 0);

    color: black;
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;

    width: 40px;
    height: 40px;
}

@-webkit-keyframes rotating {
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.circle{
    position: absolute;

    width: 40px;
    height: 40px;

    border-radius: 40px;
    border: solid rgb(129, 128, 128);
}

.medium-ball{
    width: 14px;
    height: 14px;

    background: skyblue;
    border-radius: 14px;
    border: solid white;
}

/* Fin nos services */

/* Nos projets */

.all-button-picture{
    display: flex;
    justify-content: center;
    background: rgb(224, 224, 224);
    border-radius: 5px;
    border: 5px;
    margin: 0 5px 10px 5px;
}

.button-picture{
    border: none;
    padding: 7px;
    background: transparent;
}

.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-picture, .corporate-picture, .creation-picture{
    width: 50%;
    padding: 5px;
}


/* Fin Main */

/* Responcive */

@media screen and (max-width:480px) {
    /* Logo et Nav */
    .container-nav{
    justify-content: center;
    }
    header{
        flex-direction: column;
        padding: 0;
        align-items: center;
        font-size: 14px;
    }

    header a{
        font-size: 14px;
    }
    /* Fin Logo et Nav */

    /* Slider */
    .half-circle-left {
        transform: translate(0%, -130%);

        width: 20px;
        height: 40px;
    }

    .half-circle-right {
        transform: translate(-100%, -130%);

        width: 20px;
        height: 40px;
    }
    
    .titre {
        position: relative; 

        display: flex;
        flex-direction: column;

        width: 100%;

        font-size: 10px;
    }

    .titre h2{
        font-size: 14px;
        color: black;
    }

    .plus-info{
        position: relative;
    
        width: 100%;

        font-size: 14px;
        color: black;
    }

    .button-info{
        width: 75px;

        padding: 0 10px;

        font-size: 12px;
    }

    /* Fin slider */

    #feature{
        width: 100%;
    }

}

