/* Header */

.container-header{
background: blue;
margin:0% 5%;
padding: 0 25px;
display: flex;
align-items: center;
justify-content: space-between;
}

a{
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}

/* Fin du Header */

/* Main */

.container-main{
    background: red;
    margin: 0% 5%;
}